$mediumDevices: 1024px;
$dividerColor: #e5e5e5;

@media (max-width: $mediumDevices) {
  header .inner {
    max-width: none;
    height: auto;
    padding: 0 20px;
    flex-direction: column;

    .logo {
      padding: 12px;
    }

    .menu-group {
      display: block;

      .main-menu {
        display: block;
        margin-bottom: 8px;

        li {
          border-top: 1px solid $dividerColor;

          a {
            padding: 16px 0;
          }
        }
      }
    }

    .sign-group {
      display: block;
      padding: 8px 0 20px;

      .btn-group {
        display: block;
        margin: 0px;

        .btn {
          justify-content: center;
        }

        .sign-in {
          margin-right: 0px;
          margin-bottom: 12px;
        }
      }

      #search-form {
        margin-top: 12px;
        margin-right: 0px;

        #search {
          width: 100%;
          height: 40px;
          text-align: center;
        }
      }

      .sub-menu {
        margin-top: 12px;
        margin-right: 0px;
        justify-content: center;
      }
    }

    .toggle {
      display: none !important;
    }

    .toggle.on {
      display: block !important;
    }

    #toggle-btn {
      display: block;
    }
  }

  // visual
  .visual {
    background-image: url(../img/bg-small.jpg);

    .inner {
      display: block;
      max-width: none;
      padding: 80px 20px;

      .summary {
        text-align: center;
        margin-right: 0;
        margin-bottom: 60px;
      }

      #sign-form {
        width: auto;
        max-width: 500px;
        margin: 0 auto;
      }
    }
  }

  // feature
  .feature {
    .summary {
      padding: 64px 20px 0 20px;
    }
    .tiles {
      ul {
        grid-template-columns: repeat(2, 1fr);

        li {
          &:nth-child(2) {
            border-right: none;
          }

          img {
            padding: 12px 30% 24px;
          }
        }
      }
    }
  }

  // where is
  .where-is {
    .inner {
      max-width: none;
      padding: 80px 20px 20px 20px;
    }
  }

  // pricing card
  .pricing {
    .inner {
      max-width: none;
      padding: 80px 20px;

      .card {
        .cell-2 {
          font-size: 20px;
        }
      }
    }
  }

  // footer
  footer {
    .inner {
      padding: 50px 20px;
      .logo {
        display: none;
      }
    }
  }
}
